
body {
  max-width: 800px;
  margin: auto;
  background-color: lightgrey;
}

table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

div.sourceCode {
  padding-left: 10px;
  padding-right: 10px;
  background-color: beige;
  border: 1px solid black;
}

.smallMargin {
  margin: 5px 0 5px 0;
}

h1.title {
    text-align: center;
}

